
// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';


//共通ヘッダー

// ナビゲーションバーの背景色
.navbar {
    background-color: rgb(232, 92, 41); /* オレンジ色 */
}

// ボタンスタイル
.btn-green {
    background-color: rgb(13, 154, 126); /* 背景色を緑に */
    color: white;
}

.check-btn {
    background-color: rgb(232, 92, 41); /* 背景色をオレンジに */
    color: black; /* 文字色を黒に */
    border: none; /* 枠線なし */
    font-size: 20px;  
}


.nav-link {
    margin:  15px; /* ボタン間のマージン */
    padding: 5px 2px;  /* ボタンの上下左右のパディングを調整 */
    font-size: 16px;       /* フォントサイズを小さく */
    width:150px;
    border-radius: 12px; /* 丸みのサイズを指定 */
    
}



